
.settingsRoot{
    padding: 0;
    margin: 20px auto;
    position: absolute;
    left :200px;
    width: 500px;
}

.settingsRoot div{
    -webkit-transition: all 300ms ease-in-out;
    width: 500px;
    color: blue;
    font-size: 30px;   
}

.settingsRoot > .selected{
 color: #fff;
    font-size: 60px;   
}

.detailsRoot div{
    color: red;
}

.detailsRoot span{
    color: red;
}