
<link rel="stylesheet" href="css/settings.css" type="text/css" charset="utf-8">

<h1>PAGE DES SETTINGS</h1>
<ul class="ca-menu">
                    <li>
                        <a id="settingsFirstOne" href="#">
                            
                            <div class="ca-content">
                                <h2 class="ca-main">Planner</h2>
                                <h3 class="ca-sub">See all your records</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ca-content">
                                <h2 class="ca-main">Grid</h2>
                                <h3 class="ca-sub">See all future events</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ca-content">
                                <h2 class="ca-main">Preferences</h2>
                                <h3 class="ca-sub">Do you want English or French?</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ca-content">
                                <h2 class="ca-main">Reset All</h2>
                                <h3 class="ca-sub">Armageddon !!!</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ca-content">
                                <h2 class="ca-main">VOD</h2>
                                <h3 class="ca-sub">What about some new Movies?</h3>
                            </div>
                        </a>
                    </li>
                </ul>